body{
background-color: forestgreen;
}
h1{
color:firebrick;
background-color: darkviolet;
}
#show_sketch{
float:right;
}
canvas{
border:5px solid white;
border-radius:20px;
animation-name:example;
animation-duration: 4s;
margin-top:50px;
animation-iteration-count: infinite;
}
p{
padding-top:10px;
font-size:25px;
}
@keyframes example{
from{
box-shadow: 60px -16px red;
}
to{box-shadow:1px 1px 38px blue;
}
}